.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 32px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (width >= 900px) {
  /* wave cards */
  .cards.wave > ul > li {
    height: fit-content;
  }

  .cards.wave > ul > li.card-wave-low {
    margin-top: 50px;
  }

  .cards.wave > ul > li.card-wave-medium {
    margin-top: 20px;
  }
}

/* cards in highlight section */

.section.highlight .cards {
  color: var(--text-color);
}

.section.highlight .cards h2,
.section.highlight .cards h3,
.section.highlight .cards h4,
.section.highlight .cards h5,
.section.highlight .cards h6 {
  color: var(--link-color);
}

.section.highlight .cards p:first-of-type {
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: normal;
}

.section .cards ul li:hover {
  background-color: #12295d;
  color: #fff;
}
